/* General Body Styles */
body {
    font-family: "Space Grotesk", serif;
    margin: 0 140px;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.work-divider {
    color: #3266cb;
    font-size: 1.5rem;
    margin-left: .1rem;
}

.about-link,
.work-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 4px;
    color: #3266cb;
    margin: 0;
}

.about-link:hover,
.work-link:hover {
    background-color: #3266cb;
    color: white;
}

.title-image {
    width: 43%;
}

/* Featured Work Section */
#featured-work {
    padding: 0 20px;
    text-align: center;
}

#featured-work h2 {
    font-size: 2em;
    margin: 0;
}

.video-grid {
    display: grid;
    gap: 20px;
    justify-items: center;
    margin-top: 2rem;
}

/* Grid Layout for 2 cols */

.video-grid.two-per-row {
    grid-template-columns: repeat(2, 1fr);
}

.video-item.two-col-video {
    grid-column: span 2;
}

/* Grid Layout for 3 cols */


.video-grid.three-per-row {
    grid-template-columns: repeat(3, 1fr);
}

.video-item.three-col-video {
    grid-column: span 3;
}

/* Grid Layout for 4 cols */

.video-grid.four-per-row {
    grid-template-columns: repeat(4, 1fr);
}

.video-item.four-col-video {
    grid-column: span 4;
}

/* Small video, always takes up 1 col */

.video-item.single-col-video {
    grid-column: span 1;
}

/* Video Item Styles */
.video-item {
    position: relative;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Ensuring Video spans full width */
.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Disable interaction with video */
}

/* Button Styles */

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-item .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}

.video-item .play-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Make sure description text is on top and spans full width */
.video-description {
    font-family: "Space Grotesk", serif;
    background-color: rgb(255 255 255 / 95%);
    box-shadow: 7px 7px 0px rgb(50 102 203);
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: end;
    color: black;
    font-size: 2rem;
    margin: 0 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    z-index: 2;
}

.single-col-video>button>.video-description {
    font-size: 1.5rem;
}

.video-client {
    text-align: left;
    margin-top: 0;
    font-size: .8rem;
    font-weight: 500;
    color: #706f6f;
    padding-left: 10px;
}

.video-item:hover .video-description {
    opacity: 1;
}


/* Modal Styles - Full screen modal with no rounded corners */

@keyframes modalOpening {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: modalOpening 0.2s ease-in-out;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255 255 255 / 90%);
    box-shadow: 8px 7px 0 #3266cb;
    padding: 20px;
    height: 75%;
    width: 835px;
    max-width: 100%;
    border-radius: 0;
    text-align: center;
}

.modal-video-container {
    width: 100%;
    height: 80%;
}

.modal-video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

.description {
    padding: .4rem 1.5rem .4rem .4rem;
    margin-top: 10px;
    overflow-y: auto;
    font-size: .8rem;
    color: black;
    line-height: 18px;
    text-align: left;
    width: 98%;
}

.description>p {
    margin: 0;
}

#title,
#client {
    font-weight: bold;
}

#client {
    margin-bottom: .4rem;
}

#credits {
    font-style: italic;
}

#type {
    font-weight: bold;
}


/* Prevent video controls from showing */
video::-webkit-media-controls {
    display: none !important;
}

/* Prevent controls for Firefox */
video::-moz-media-controls {
    display: none !important;
}

/* Prevent video controls for Edge */
video::-ms-media-controls {
    display: none !important;
}

/* Ensure the video controls are hidden */
video {
    pointer-events: none;
    /* Disable interactions */
    -webkit-user-select: none;
    /* Disable text selection */
}

/* Optional: Set the object fit for the video */
video {
    object-fit: cover;
    /* Optional */
}



/* About page */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    margin-left: 35px;
    width: 30%;
}

.top-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.bottom-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.dog-image {
    margin-right: 35px;
    height: 157px;
    width: 30%;
}

.bw-image {
    margin-right: 15px;
    height: 157px;
    width: 30%;
}

.about-text {
    text-align: left;
}

.about-page-container {
    color: #3266cb;
}

.headline {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.link-container {
    text-align: center;
}

.email {
    font-size: 1.3rem;
}

.email>a {
    color: #3266cb;
    text-decoration: none;
}

.email>a:hover {
    background-color: #3266cb;
    color: #f4f4f4;
}

.social-links>a {
    color: #3266cb;
    text-decoration: none;
}

.social-links>a:hover {
    background-color: #3266cb;
    color: #f4f4f4;
}

footer {
    width: 100%;
    text-align: center;
    margin: 50px 0;
    color: #3266cb;
    font-size: .8rem;
}


/* Media Query for Mobile - Stack all videos in 1 column */
@media (max-width: 767px) {

    body {
        margin: 0;
    }

    .about-link,
    .work-link,
    .work-divider {
        font-size: 1rem;
    }

    .title-image {
        width: 70%;
    }

    .video-client {
        font-size: .7rem;
    }

    .video-grid.two-per-row,
    .video-grid.three-per-row,
    .video-grid.four-per-row {
        grid-template-columns: 1fr;
    }

    /* Ensure all videos are stacked */
    .video-item.single-col-video,
    .video-item.four-col-video,
    .video-item.three-col-video {
        grid-column: span 2;
    }

    .video-item:hover .video-description {
        opacity: 0;
    }

    .video-description {
        opacity: 0;
    }

    .modal-video-container {
        height: 60%;
    }

    .modal-content {
        padding: 0 15px;
        width: 300px;
        height: 70%
    }

    .description {
        padding: 0 10px;
        height: 40%;
    }

    video {
        pointer-events: none;
        /* Disable interaction with the video */
    }

    video::-webkit-media-controls {
        display: none;
        /* Hide controls in webkit browsers (Chrome, Safari) */
    }

    video::-moz-media-controls {
        display: none;
        /* Hide controls in Firefox */
    }

    video {
        object-fit: cover;
        /* Optional: make the video fill the container */

    }

    .bw-image,
    .dog-image {
        display: none;
    }

    .about-page-container {
        margin: 0 20px;
    }

    .bottom-section-container {
        flex-flow: column-reverse;
    }

    .headshot {
        width: 80%;
        margin: 0;
    }
}