/* General Body Styles */
body {
    font-family: "Roboto Condensed", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.about-link,
.work-link {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 4px;
}

.about-link:hover {
    background-color: #6584c3;
}

.work-link:hover {
    background-color: #95d14c;
}

.title-image {
    width: 45%;
}

/* Featured Work Section */
#featured-work {
    padding: 0 20px;
    text-align: center;
}

#featured-work h2 {
    font-size: 2em;
    margin: 0;
}

.video-grid {
    display: grid;
    gap: 20px;
    justify-items: center;
    margin-top: 2rem;
}

/* Grid Layout for 2 cols */

.video-grid.two-per-row {
    grid-template-columns: repeat(2, 1fr);
}

.video-item.two-col-video {
    grid-column: span 2;
    width: 90%;
}

/* Grid Layout for 3 cols */


.video-grid.three-per-row {
    grid-template-columns: repeat(3, 1fr);
}

.video-item.three-col-video {
    grid-column: span 3;
    width: 90%;
}

/* Grid Layout for 4 cols */

.video-grid.four-per-row {
    grid-template-columns: repeat(4, 1fr);
}

.video-item.four-col-video {
    grid-column: span 4;
    width: 90%;
}

/* Small video, always takes up 1 col */

.video-item.single-col-video {
    grid-column: span 1;
    width: 90%;
}

/* Media Query for Mobile - Stack all videos in 1 column */
@media (max-width: 767px) {

    .video-grid.two-per-row,
    .video-grid.three-per-row,
    .video-grid.four-per-row {
        grid-template-columns: 1fr;
    }

    /* Ensure all videos are stacked */
    .video-item.single-col-video,
    .video-item.four-col-video,
    .video-item.three-col-video {
        grid-column: span 1;
    }
}


/* Video Item Styles */
.video-item {
    position: relative;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Ensuring Video spans full width */
.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Disable interaction with video */
}

/* Button Styles */
.video-item .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    /* Semi-transparent background */
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    /* Center text inside the button */
}

.video-item .play-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Darker background on hover */
}

/* Make sure description text is on top and spans full width */
.video-description {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: left;
    align-items: end;
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    z-index: 2;
}

.video-client {
    text-align: left;
    margin-top: 0;
    font-size: .8rem;
    color: #504f4f;
    padding-left: 10px;
}

.video-item:hover .video-description {
    opacity: 1;
}


/* Modal Styles - Full screen modal with no rounded corners */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.746);
    padding: 0;
    width: 835px;
    height: 470px;
    border-radius: 0;
    /* Removed rounded corners */
}

.modal-video-container {
    height: 100%;
}

.modal-video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.modal-shadow {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
    height: 126%;
    display: flex;
    flex-direction: column;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

.description {
    padding: .4rem 1.5rem .4rem .4rem;
    max-height: 7.5rem;
    min-height: 7rem;
    overflow-y: scroll;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 18px;
}

.description>p {
    margin: 0;
}

#title,
#client {
    font-weight: bold;
}

#client {
    margin-bottom: .4rem;
}

#credits {
    font-style: italic;
}

#type {
    font-weight: bold;
}


/* Prevent video controls from showing */
video::-webkit-media-controls {
    display: none !important;
}

/* Prevent controls for Firefox */
video::-moz-media-controls {
    display: none !important;
}

/* Prevent video controls for Edge */
video::-ms-media-controls {
    display: none !important;
}



/* About page */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    margin-left: 35px;
    width: 30%;
}

.text-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 50%;
    text-align: center;
}